*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Raleway", sans-serif;
}
.navbar{
	height: 60px;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0px;
	z-index: 99;
	line-height: 60px;
}
.navbar .logo-link{
	text-decoration: none;
	color: #000000;
	font-size: 20px;
	margin: 0 60px;
	position: absolute;
	left: 0;
}
.navbar .navbar-ul{
	display: flex;
	position: absolute;
	right: 70px;
	list-style: none;
}
.navbar .navbar-ul .navbar-li{
	margin-right: 20px;
}


.navbar .navbar-ul .navbar-li .navbar-a{
	text-decoration: none;
	padding: 10px;
	color: #000000;
	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
	transition: all .4s;
	font-weight: 500;
	border-radius: 10px;
}

.navbar .navbar-ul .navbar-li .navbar-a:hover{
	color: blue;
}


.navbar .navbar-ul .navbar-li .navbar-a:active{
	color: #FDA403;
	background-color: red;
}

.menu-button{
	position: relative;
	left: 90%;
	height: 35px;
	width: 25px;
	margin-top: 12px;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	display: none;
}


.menu-button .bar, .menu-button::after, .menu-button::before {
	height: 2px;
	width: 100%;
	background-color: black;
	display: block;
	margin: 6px auto; 
	content: "";
	transition: all .4s;
}

.menu-button.active.menu-button::after{
	transform: rotate(-45deg) translate(5px, -7px);
}

.menu-button.active.menu-button::before{
	transform: rotate(45deg) translate(4px, 6px);
}

.menu-button.active .bar{
	opacity: 0;
}

/*==========================================*/

@media (max-width: 960px){
	.menu-button{
		display: block;
	}
	.navbar .navbar-ul{
		opacity: 0;
        visibility: hidden;
		position: absolute;
		top: 200px;
		transition: transform .5s else;
        transition: all .3s;
	}

	.navbar .navbar-ul.navbar-ul-small{
		display: block;
		opacity: 1;
		top: 100%;
		width: 100%;
		padding-left: 90px;
		right: 0px;
		background-color: white;
		line-height: 40px;
		visibility: visible;
		padding-left: 0;
		position: absolute;
		left: 0;
	}
	.navbar .navbar-ul .navbar-li{
		margin-right: 0px;
		text-align: center;
	}
	/*.menu-button:checked ~ .navbar-ul{
		top: 100%;
		opacity: 1;
		visibility: visible;
	}*/
}

/*================================================*/

.top-container{
	height: 600px;
	width: 100%;
	background-image: url(offer_2.jpg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
}
.top-container .top-container-h1{
	font-size: 75px;
	color: #fff;
	padding-top: 150px;
	padding-bottom: 30px;
}
.top-container .top-container-p{
	color: rgba(255, 255, 255, 0.7);
	font-weight: 300;
	padding-bottom: 35px;
}
.top-container .top-container-button{
	width: 170px;
	padding: 17px;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.8);
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	transition: all .3s;
}
.top-container .top-container-button:hover{
	background-color: #fff;
	border: 2px solid #fff;
	color: black;
}


/*====================================================*/


.about-section{
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	justify-content: space-around;
}
.about-section .about-section-content{
	width: 450px;
	padding-left: 12px;
	margin-top: 100px;
}
.about-section .about-section-content .about-section-h4{
	letter-spacing: .5em;
	color: #d4d4d4;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 10px;
}
.about-section .about-section-content .about-section-h2{
	margin-bottom: 30px;
	font-size: 3.5rem;
	font-weight: 300;
}
.about-section .about-section-content .about-section-p{
	color: #b8b8b8;
	line-height: 1.6;
	padding-bottom: 20px;
}
.about-section .about-section-content .about-section-button{
	width: 230px;
	padding: 18px;
	border: 2px solid #ccc;
	background-color: transparent;
	color: #999999;
	font-size: 16px;
	cursor: pointer;
	transition: all .3s;
}
.about-section .about-section-content .about-section-button:hover{
	border-color: #FDA403;
	background-color: #FDA403;
	color: #fff;
}
.about-section .about-section-image{
	height: 350px;
	width: 550px;
	margin-top: 100px;
}


/*========================================================*/


.offer-section{
	width: 100%;
	height: 950px;
	background-color: #f8f9fa;
	text-align: center;
	margin-top: 50px;
}
.offer-section-content{
	padding-top: 120px;
	padding-bottom: 30px;
}
.all-foods-menu{
	display: flex;
	justify-content: center;
	user-select: none;
}
.offer-section .offer-section-content .offer-section-h4{
	letter-spacing: .5em;
	color: #d4d4d4;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 10px;
}
.offer-section .offer-section-content .offer-section-h2{
	margin-bottom: 7px;
	font-size: 3.5rem;
	font-weight: 300;
}
.offer-section .offer-section-content .offer-section-p{
	color: #b8b8b8;
	line-height: 1.6;
	padding-bottom: 20px;
}
.all-foods-menu .foods-menu{
	background-color: #fff;
	width: 350px;
	text-align: center;
}
.font-family{
	font-weight: bold;
}
.price{
	font-size: 1.25rem;
	font-weight: 400;
	color: #FDA403;
	margin-top: 40px;
	margin-bottom: 10px;
}
.all-foods-menu .foods-menu-h5{
	color: #000;
	font-size: 24px;
	line-height: 1.45;
	font-weight: bold;
	font-family: "Playfair Display", serif;
	margin-bottom: 10px;
}
.foods-menu-p{
	color: #b8b8b8;
	margin-bottom: 20px;
}
.foods-menu-image{
	width: 100%;
}
.foods-menu-1{
	margin-right: 20px;
}
.foods-menu-3{
	margin-left: 20px;
}
.foods-menu-content{
	width: 320px;
	margin: 0 auto;
}
.order-button{
	width: 100px;
	padding: 10px;
	background-color: #FDA403;
	color: white;
	border: 1px solid #FDA403;
	cursor: pointer;
	transition: all .3s;
	margin-bottom: 50px;
}
.order-button:hover{
	background-color: #cb8402;
	border-color: #cb8402;
}


/*====================================================*/


.delicious-menu-section{
	width: 100%;
	height: auto;
	padding-top: 100px;
	padding-bottom: 80px;
}
.delicious-menu-container{
	text-align: center;
}
.delicious-menu-image{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.delicious-menu-all{
	width: 80%;
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 0 auto;
}
.delicious-menu{
	display: flex;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
.delicious-menu-sub-content{
	padding-left: 20px;
}
.delicious-menu-section .delicious-menu-h2{
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.1;
	margin-bottom: 10px;
	font-family: "Playfair Display", serif;
}
.delicious-menu-section .delicious-menu-p{
	font-size: 1.20rem;
	font-weight: 400;
	line-height: 1.7rem;
	margin-bottom: 1rem;
	font-family: "Raleway", sans-serif;
	color: #b8b8b8;
}
.button{
	padding: 12px 20px 12px 20px;
	letter-spacing: 3px;
	background-color: transparent;
	margin-bottom: 20px;
	margin-top: 40px;
	border: 2px solid #ccc;
	color: #ccc;
	cursor: pointer;
}
.active-button{
	border: 2px solid black;
	color: black;
}
.middle-button{
	margin: 0px 7px 0px 7px;
}
.delicious-menu-h5{
	font-size: 1.25rem;
	font-family: "Playfair Display", serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
}
.delicious-menu-price{
	margin-top: 20px;
}


/*=============================================*/


.news-section{
	width: 100%;
	height: auto;
	background-color: #f8f9fa;
	padding-top: 100px;
	padding-bottom: 100px;
}
.news-section-sub-container{
	display: flex;
	justify-content: center;
}
.news-section-content{
	background-color: white;
	width: 350px;
	height: auto;
	margin: 0px 10px 0px 10px;
}
.news-section-content-image{
	width: 100%;
}
.news-section-top-container{
	text-align: center;
}
.news-section-sub-content{
	text-align: center;
	padding: 50px;
}
.news-section-h2{
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.1;
	font-family: "Playfair Display", serif;
	margin-bottom: 10px;
}
.news-section-p{
	font-size: 1.25rem;
	color: #b8b8b8;
	line-height: 1.7rem;
	font-weight: 400;
	margin-bottom: 50px;
}
.news-section-sub-content .news-section-sub-content-h5{
	font-size: 1.5rem;
	font-family: "Playfair Display", serif;
	font-weight: 500;
	margin-bottom: 10px;
	line-height: 1.45;
}
.news-section-sub-content .news-section-sub-content-p{
	color: #b8b8b8;
	line-height: 1.6;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	margin-bottom: 24px;
}
.news-section-sub-content .news-section-button{
	padding: 10px;
	border: 2px solid #FDA403;
	background-color: #FDA403;
	color: white;
	cursor: pointer;
	transition: all .3s;
}
.news-section-sub-content .news-section-button:hover{
	background-color: #cb8402;
	border-color: #cb8402;
}


/*=======================================================*/


.gallery-section{
	width: 100%;
	height: auto;
	padding-top: 100px;
	padding-bottom: 100px;
}
.gallery-section-content .gallery-section-h2{
	font-size: 3.5rem;
	font-family: "Playfair Display", serif;
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 10px;
}
.gallery-section-content .gallery-section-p{
	font-size: 1.25rem;
	font-weight: 300;
	color: #b8b8b8;
	line-height: 1.6;
	margin-bottom: 50px;
}
.gallery-section .gallery-section-content{
	text-align: center;
	width: 90%;
	margin: 0 auto;
}
.gallery-section .grid-box{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
}
.gallery-section .grid-box .grid-image{
	width: 370px;
	padding: 5px 5px 2px 5px;
}
.grid-image{
	cursor: zoom-in;
}


/*=====================================================*/


.contact-section{
	width: 100%;
	height: auto;
	background-color: #f8f9fa;
	padding-top: 100px;
	padding-bottom: 100px;
}
.contact-section .contact-section-content{
	text-align: center;
}
.contact-section .contact-section-content .contact-section-h2{
	font-size: 3.5rem;
	line-height: 1.1;
	font-weight: 400;
	font-family: "Playfair Display", serif;
	margin-bottom: 20px;
}
.contact-section .contact-section-content .contact-section-p{
	font-size: 1.25rem;
	font-weight: 300;
	font-family: "Raleway", sans-serif;
	color: #b8b8b8;
	line-height: 1.6;
	margin-bottom: 40px;
}
.contact-section-image{
	height: 250px;
	width: 400px;
	margin-bottom: 15px;
}
.contact-section-sub-content{
	display: flex;
	justify-content: center;
	height: auto;
	width: 90%;
	margin: 0 auto;
}
.contact-section-sub-content .input-all{
	display: flex;
	flex-direction: column;
	width: 600px;
}
.contact-section-sub-content .input-all .input-name{
	height: 50px;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	outline: none;
	background-color: #e6e6e6;
	font-size: 18px;
	font-family: inherit;
	font-weight: 500;
}
.contact-section-sub-content .input-all .input-email{
	height: 50px;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	outline: none;
	background-color: #e6e6e6;
	font-size: 18px;
	font-family: inherit;
	font-weight: 500;
}
.contact-section-sub-content .input-all .text-area{
	height: 225px;
	border: none;
	outline: none;
	background-color: #e6e6e6;
	font-size: 18px;
	font-family: inherit;
	font-weight: 500;
	padding: 10px;
}
.contact-section-sub-content .empty{
	width: 130px;
	height: 500px;
}
.send-message-button{
	width: 200px;
	padding: 15px;
	margin-top: 20px;
	border: 2px solid #FDA403;
	background-color: #FDA403;
	color: white;
	font-size: 16px;
	font-family: "Playfair Display", serif;
	transition: all .3s;
	cursor: pointer;
}
.send-message-button:hover{
	border-color: #cb8402;
	background-color: #cb8402;
}
.address-link{
	color: #FDA403;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	line-height: 1.6;
}


/*====================================================*/


.error-section{
	height: 400px;
	width: 100%;
	background-color: #e8eaed;
	text-align: center;
	padding-top: 140px;
}
.error-section-image{
	padding-bottom: 15px;
}
.error-section-h4{
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
}
.error-section-p{
	font-size: 12px;
}
.error-section-content{
	width: 90%;
	margin: 0 auto;
}

/*=====================================================*/


.footer-section{
	width: 100%;
	height: auto;
	background-color: #222;
	padding-top: 100px;
}
.footer-section-content-h2{
	font-size: 14px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.6);
	letter-spacing: .05em;
	margin-bottom: 15px;
}
.footer-section-content-p{
	color: rgba(255, 255, 255, 0.3);
	line-height: 1.6;
}
.footer-section-all-list{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	height: 300px;
	width: 90%;
	margin: 0 auto;
}
.footer-section-content{
	width: 320px;
}
.footer-section-ul{
	list-style: none;
	line-height: 40px;
}
.footer-section-li-a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.3);
	transition: all .3s;
}
.footer-section-li-a:hover{
	color: #FDA403;
}
.social-media-icons{
	width: 100%;

}
.social-media-icons-ul{
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	list-style: none;
}
.social-media-link{
	background-color: rgba(255, 255, 255, 0.05);
	padding: 27px 20px 17px 20px;
	border-radius: 70%;
}
.fa-brands{
	font-size: 30px;
	color: rgba(255, 255, 255, 0.3);
	transition: all .3s;
}
.social-media-link:hover .fa-brands{
	color: white;
}
.copyright-p{
	text-align: center;
	padding-top: 70px;
	color: rgba(255, 255, 255, 0.3);
	font-size: 16px;
	padding-bottom: 100px;
}
.colorlib-link{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.3);
	transition: .3s;
}
.colorlib-link:hover{
	color: #FDA403;
}


